<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID1" version="2.5">
  <servlet>
    <servlet-name>adminportal</servlet-name>
    <servlet-class>com.eiw.server.AdminPortalServiceImpl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GeneratePDFServlet</servlet-name>
    <servlet-class>com.eiw.server.GeneratePDFServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GenerateCSVServlet</servlet-name>
    <servlet-class>com.eiw.server.GenerateCSVServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeviceServlet</servlet-name>
    <servlet-class>com.eiw.server.DeviceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.eiw.server.TestServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeviceWriteServlet</servlet-name>
    <servlet-class>com.eiw.server.DeviceWriteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeviceReadServlet</servlet-name>
    <servlet-class>com.eiw.server.DeviceReadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AndroidDeviceServlet</servlet-name>
    <servlet-class>com.eiw.server.AndroidDeviceServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>AlertConfigServlet</servlet-name>
    <servlet-class>com.eiw.server.AlertConfigServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <servlet-name>UpdateSKTServlet</servlet-name>
    <servlet-class>com.eiw.server.UpdateSKTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminportal</servlet-name>
    <url-pattern>/ltmsweb/adminportal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeneratePDFServlet</servlet-name>
    <url-pattern>/generatePDFServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerateCSVServlet</servlet-name>
    <url-pattern>/generateCSVServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeviceServlet</servlet-name>
    <url-pattern>/deviceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeviceWriteServlet</servlet-name>
    <url-pattern>/postMyData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeviceReadServlet</servlet-name>
    <url-pattern>/getMyData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AndroidDeviceServlet</servlet-name>
    <url-pattern>/android</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlertConfigServlet</servlet-name>
    <url-pattern>/alertConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSKTServlet</servlet-name>
    <url-pattern>/updateSKTServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SKTServlet</display-name>
    <servlet-name>SKTServlet</servlet-name>
    <servlet-class>com.eiw.server.SKTServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SKTServlet</servlet-name>
    <url-pattern>/sktServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NoTransConfigServletForCaching</display-name>
    <servlet-name>NoTransConfigServletForCaching</servlet-name>
    <servlet-class>com.eiw.server.NoTransConfigServletForCaching</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoTransConfigServletForCaching</servlet-name>
    <url-pattern>/NoTransConfigServletForCaching</url-pattern>
  </servlet-mapping>
</web-app>